.content-section .title {
	text-transform: uppercase;
	font-size: 28px;
	background-image: url('../../public/images/Aboutus.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 20px;
	text-shadow: black 1px 1px 1px, black -1px -1px 1px, black 1px -1px 1px, black -1px 1px 1px;
}
.content-section .content .button a {
	background-color: #ef3fa2;
	padding: 12px 30px;
	text-decoration: none;
	color: #fff;
	font-size: 1.5rem;
	letter-spacing: 1.5px;
	border-radius: 5px;
}

.content h3 {
	padding: 20px;
	text-align: center;
}

.content-section .content .button {
	display: flex;
	justify-content: center;
	width: 100%;
}
.content-section .content .button a:hover {
	background-color: #a200ff;
	color: #fff;
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 70%;
}
